<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrs.cloud.dao.HrsDoctorScheduleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hrs.cloud.entity.HrsDoctorSchedule">
        <id column="ID" property="id" />
        <result column="USER_ID" property="userId" />
        <result column="SCHEDULE_TYPE" property="scheduleType" />
        <result column="DATE_START" property="dateStart" />
        <result column="DATE_END" property="dateEnd" />
        <result column="DAYS_OF_WEEK" property="daysOfWeek" />
        <result column="MONING_FLAG" property="moningFlag" />
        <result column="AFTERNOON_FLAG" property="afternoonFlag" />
        <result column="MONING_LIMIT" property="moningLimit" />
        <result column="AFTERNOON_LIMIT" property="afternoonLimit" />
        <result column="STATUS" property="status" />
        <result column="DELETED" property="deleted" />
        <result column="CREATE_BY" property="createBy" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_BY" property="updateBy" />
        <result column="UPDATE_TIME" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, USER_ID, SCHEDULE_TYPE, DATE_START, DATE_END, DAYS_OF_WEEK, MONING_FLAG, AFTERNOON_FLAG, MONING_LIMIT, AFTERNOON_LIMIT, STATUS, DELETED, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME
    </sql>

</mapper>
